.corpoMensagens {
    border: 0.5px solid;
    width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
}

.title {
    background-color: rgb(209, 209, 209);
    padding: 5px;
    border-bottom: 0.5px solid;
}

.title h1 {
    font-size: 15px;
    padding-left: 15px;
}

.mensagens {
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.mensagemUsuario {
    background-color: rgb(209, 209, 209);
    border: 0.5px solid;
    height: 180px;
    width: 500px;
    margin: auto;
}


#campoMensagem {
    resize: none;
    width: 400px;
    margin-top: 15px;
    margin-left: 15px;

}

#botaoMensagem {
    background-color: rgb(6, 104, 216);
    height: 30px;
    width: 60px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 100px;
}

.mensagem {
    box-sizing: border-box;
    border-radius: 5px;
    background: #5f5f5f; 
    width: 700px;
    max-height: 350px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 5px;
}

.mensagem p {
    margin: 5px;
    color: white;
}

.botao {
    width: 130px;
    height: 30px;
    margin-left: 630px;
}

.editar, 
.excluir {
    width: 60px;
    height: 30px;
    border: none;
}

.editar {
    background-color: rgb(235, 190, 108);
}

.excluir {
    background-color: rgb(228, 113, 113);
    margin-left: 6px;
}